.field{
  position: relative;
}

.field__input{
  width: 250px;
  outline: none;
  border-radius: 25px;
  padding: 15px;
  border: 1px solid #4C9A95;
}

.field__input:focus{
  border: 2px solid #4C9A95;;
}