.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #4C9A95;
    padding: 10px;
}

.userPreview{
    width: 25%;
}

.userBody{
    width: 75%;
}

.userImage{
    max-width: 200px;
}

.userImage > img{
    width: 100%;
    height: 100%;
}