.sidebar{
  box-sizing: border-box;
  border: 1px solid #4C9A95;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.sidebar__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar__item{
  padding: 0;
  margin: 0;
}

.sidebar__item:hover > .sidebar__link{
  color: #5E4D9D;
  font-weight: 700;
}

.sidebar__link{
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.active{
  color: #A66B32;
  font-weight: 700;
}
.sidebar__item:last-child{
  margin: 20px 0 0 0;
}