.container{
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__content{
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
}

.app__body{
  display: grid;
  column-gap: 15px;
  grid-template-columns: 3fr 9fr;
  max-width: 1140px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.app__main{
  border: 1px solid #4C9A95;
  border-radius: 5px;
  margin: 5px;
  flex: 1 0 auto;
  padding: 15px;
}