.friend{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.friend:visited{
  color: unset;
}
.friend:hover > .friend__name{
  color: brown;
}

.friend__name{
  font-size: 20px;
  margin: 0;
}

.friend__img{
  width: 40px;
  height: 40px;
  background-color: #a9906d;
  border-radius: 100%;
}